.main-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	background-color: var(--background);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 3rem;
}

.home-link {
	margin-left: 5%;
}

.home-link a {
	color: var(--text);
}
