@media (max-width: 850px) {
	.country-info-wrapper {
		padding: 0;
	}
	.country-details-wrapper {
		flex-wrap: wrap;
	}
	.country-info-lists-wrapper {
		flex-direction: column;
	}
	.country-info-left,
	.country-info-right {
		text-align: left;
	}
	.country-info-right {
		margin: 0;
		margin-top: 2rem;
	}
}
