.back-button-wrapper {
	margin-bottom: 3rem;
}

.back-btn {
	padding: 0.5rem 1rem 0.5rem 1rem;
	border: none;
	background-color: white;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	font-size: 14px;
	font-family: "Nunito Sans", sans-serif;
	width: 8rem;
}

.back-btn:focus {
	outline: none;
}

.back-btn svg {
	margin-right: 1rem;
}

.country-details-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flag-wrapper {
	width: 900px;
	max-height: 900px;
}

.flag-wrapper img {
	width: 100%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
}

.country-info-wrapper {
	padding-left: 5rem;
	padding-top: 1rem;
	width: 100%;
}

.country-info-lists-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.country-info-left,
.country-info-right {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.country-info-left li,
.country-info-right li {
	margin-bottom: 1rem;
}

.country-info-right {
	margin-left: 4rem;
}

.border-countries-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-top: 3rem;
}

.border-countries-btn-list-wrapper {
	display: flex;
	width: 50%;
	justify-content: space-around;
}

.border-countries-btn-list-wrapper button {
	border: none;
	padding: 0.5rem;
	font-family: "Nunito Sans", sans-serif;
	background-color: white;
	box-shadow: 0px 0px 1px 1.5px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.border-countries-btn-list-wrapper button:focus {
	outline: none;
}

.country-info-name {
	font-size: 2rem;
}

@media (max-width: 850px) {
	.country-info-wrapper {
		padding: 0;
	}
	.country-details-wrapper {
		flex-wrap: wrap;
	}
	.country-info-lists-wrapper {
		flex-direction: column;
	}
	.country-info-left,
	.country-info-right {
		text-align: left;
	}
	.country-info-right {
		margin: 0;
		margin-top: 2rem;
	}
}
