.filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
}

.countries {
	display: grid;
	grid-gap: 5rem;
}

/* Screen larger than 600px? 1 column */
@media (min-width: 375px) {
	.countries {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 2rem;
	}
	.filters {
		flex-direction: column;
	}
	.filter-region-wrapper {
		margin-top: 2rem;
	}
	.search-wrapper {
		width: 90%;
	}
}

@media (min-width: 800px) {
	.countries {
		grid-template-columns: repeat(4, 1fr);
	}
	.filters {
		flex-direction: row;
	}
	.filter-region-wrapper {
		margin-top: 0;
	}
	.search-wrapper {
		width: 40rem;
	}
}
