:root {
	--elements: hsl(0, 0%, 100%);
	--background: hsl(0, 0%, 98%);
	--input: hsl(0, 0%, 52%);
	--text: hsl(200, 15%, 8%);
}

[data-theme="dark"] {
	--elements: hsl(209, 23%, 22%);
	--background: hsl(207, 26%, 17%);
	--text: hsl(0, 0%, 100%);
}

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-height: 100vh;
	background-color: var(--background);
	font-family: "Nunito Sans", sans-serif;
	color: var(--text);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

::placeholder {
	color: var(--text);
	opacity: 0.5;
}

.align {
	margin-left: 5%;
	margin-right: 5%;
}

.stronger-font {
	font-weight: 600;
}
